* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
    /* background-color: hsla(184, 66%, 80%, 0.76); */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    background-image: url("background.png");
    background-size: auto;
    background-repeat: none;
  } 
  
  h1, h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    text-shadow: -3px 0 black,
                  0 3px black, 
                  3px 0 black,
                  0 -3px black;
  }

  #container{
    text-align: center;
  }

  button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #increament-btn {
  background: darkred;
  }

  #save-btn {
    background: rgb(24, 107, 42);
  }
  #save-el {
    color: white;
    font-size: xx-large;
    text-shadow: -3px 0 black,
                  0 3px black, 
                  3px 0 black,
                  0 -3px black;
  }
